{
  "chmod": "0755",
  "directories": [
    "src"
  ],
  "extract": true,
  "files": [
    "LICENSE"
  ],
  "finder": [
    {
      "name": "*.php",
      "exclude": [
        "Tests",
        "tests",
        "test"
      ],
      "in": "vendor"
    }
  ],
  "main": "bin/tinc-configuration",
  "output": "dist/tinc-configuration.phar",
  "stub": true
}
